.profile-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--purpleColor);

  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-container .content {
  width: 100%;
  padding: 96px;
  background-color: var(--lightPurpleColor);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
}

.profile-container .content section .button-icon {
  color: var(white);
  margin: 0px 20px 0 0;
}

.profile-container .content section span {
  vertical-align: top;
}

.profile-container .content section {
  width: 100%;
  max-width: 380px;
}

.profile-container .content section h1 {
  margin: 15px 0 10px;
  font-size: 32px;
}

.profile-container .content section p {
  font-size: 18px;
  color: var(--textColor);
  line-height: 32px;
  margin: 0;
  line-height: 22px;
}

@media (max-width:800px) {
  .profile-container .content {
    display: grid;
    grid-template-columns: 1fr;
    padding: 96px auto;
    justify-items: center;
  }
}