@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outLine: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px 'Baloo Thambi 2', sans-serif;
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea {
  font: 400 18px 'Baloo Thambi 2', sans-serif;
}

button {
  cursor: pointer;
}